body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.MuiAppBar-colorSecondary {
    background-color: #342b42 !important;
}
.MuiListItem-gutters {
    padding-left: 53px !important;
    padding-right: 16px; 
}
/* .MuiListItemIcon-root .makeStyles-icon-134{

} */